* {
    margin: 0;
    padding: 0;
    list-style: none
}

#container {
    width: 100%;
    min-height: 2000px;
    overflow: hidden;
}

.header {
    width: 1000px;
    height: 78px;
    margin: 0 auto;
    position: relative;
    .logo {
        display: inline-block;
        width: 153px;
        height: 37px;
        background: url('../images/logo.png');
        margin-top: 20px;
    }
    .searbox {
        width: 300px;
        height: 36px;
        border: 1px solid #ccc;
        margin-left: 190px;
        margin-top: -39px;
        .sear {
            width: 249px;
            height: 34px;
            border: none;
            margin-left: 14px;
            outline: none;
        }
        .sear-btn {
            width: 34px;
            height: 34px;
            margin-top: -34px;
            margin-left: 265px;
            a {
                width: 34px;
                height: 34px;
                display: block;
                text-decoration: none;
                text-align: center;
                line-height: 40px;
            }
        }
        .icon-sousuo1 {
            font-size: 18px;
            color: #707070;
        }
        .icon-sousuo1:hover {
            color: #0C8ED9;
        }
    }
    .topmenu {
        width: 262px;
        height: 19px;
        border-right: 1px solid #e6e6e6;
        margin-left: 600px;
        margin-top: -30px;
        li {
            float: left;
            padding: 0 15px 0 15px;
            font-size: 13px;
            a {
                text-decoration: none;
                color: #777;
            }
            a:hover {
                color: #009af3;
            }
        }
    }
    .login {
        display: inline-block;
        width: 48px;
        height: 28px;
        border: 1px solid #169af3;
        background-color: #169af3;
        border-radius: 5%;
        text-decoration: none;
        color: white;
        font-size: 13px;
        text-align: center;
        line-height: 28px;
    }
    .login:hover {
        background: #158fe1;
    }
    .register {
        display: inline-block;
        width: 48px;
        margin-left: 5px;
        height: 28px;
        border: 1px solid #dbdbdb;
        border-radius: 5%;
        text-decoration: none;
        color: #777;
        font-size: 13px;
        text-align: center;
        line-height: 28px;
    }
    .register:hover {
        color: #169af3;
        border: 1px solid #169af3;
    }
    .btn {
        margin-left: 890px;
        margin-top: -25px;
    }
}

#nav {
    width: 100%;
    height: 55px;
    background: #2c323b;
    display: flex;
    .navleft {
        width: 445px;
        height: 100%;
        margin-left: 130px;
        li {
            width: 80px;
            height: 100%;
            line-height: 55px;
            float: left;
            text-align: center;
            >a {
                display: block;
                text-decoration: none;
                color: #ddd;
            }
            a:hover {
                color: white;
            }
            .first {
                color: white;
            }
            &:first-Child {
                width: 92px;
                margin-left: 4px;
                background: #0c8ed9;
            }
            &:nth-of-type(2) {
                width: 92px;
            }
            &:nth-of-type(2):hover {
                background: #0c8ed9;
            }
            &:nth-of-type(3) {
                width: 140px;
            }
            &:nth-of-type(3):hover {
                background: #0c8ed9;
            }
            &:nth-of-type(4) {
                width: 113px;
            }
            &:nth-of-type(4):hover {
                background: #0c8ed9;
                .select {
                    display: block;
                }
            }
        }
        .select {
            width: 113px;
            height: 141px;
            margin-top: -2px;
            display: none;
            background: #252a32;
            z-index: 9999;
            position: absolute;
            >a {
                margin-top: 0px;
                display: block;
                border-top: 1px solid #252a32;
                width: 113px;
                height: 34px;
                text-align: center;
                line-height: 36px;
                color: #ddd;
            }
            >a:hover {
                background: #2d343d;
                border-top: 1px solid #383d44;
            }
        }
    }
    .navright {
        width: 486px;
        height: 35px;
        margin-top: 10px;
        margin-left: 110px;
        >li {
            float: left;
            line-height: 35px;
            margin-left: 30px;
            >a {
                text-decoration: none;
                color: #ddd;
                font-size: 13px;
                i {
                    padding-right: 5px;
                }
            }
            a:hover {
                color: #14a9ff;
            }
            .iconfont {
                font-size: 14px;
            }
        }
    }
}

#ppt {
    width: 100%;
    height: 445px;
    position: relative;
    ;
    >ul>img {
        position: absolute;
        left: -330px;
        top: 0;
        display: none;
        &:first-Child {
            display: block;
        }
    }
    >ol {
        position: absolute;
        top: 350px;
        left: 510px;
        width: 240px;
        height: 20px;
        display: flex;
        justify-content: space-around;
    }
    >ol>a {
        margin-left: 10px;
        width: 7px;
        height: 7px;
        display: inline-block;
        border-radius: 50%;
        background: rgba(255, 255, 255, .4);
        margin-top: 5px;
    }
    .active {
        width: 15px;
        height: 15px;
        margin-top: 0px;
        border-radius: 50%;
        background: white;
    }
    .left {
        width: 60px;
        height: 120px;
        position: absolute;
        top: 140px;
        background: rgba(0, 0, 0, .3);
        display: none;
        .iconfont {
            position: absolute;
            top: 30px;
            left: -10px;
            color: #DECECE;
            font-size: 70px;
        }
    }
    .left:hover {
        background: rgba(0, 0, 0, .6);
        .iconfont {
            color: white;
        }
    }
    .right {
        width: 60px;
        height: 120px;
        position: absolute;
        top: 140px;
        left: -20px;
        left: 1202px;
        background: rgba(0, 0, 0, .3);
        display: none;
        .iconfont {
            position: absolute;
            top: 30px;
            right: -10px;
            color: #DECECE;
            font-size: 70px;
        }
    }
    .right:hover {
        background: rgba(0, 0, 0, .6);
        .iconfont {
            color: white;
        }
    }
    .load {
        width: 100%;
        height: 60px;
        position: absolute;
        top: 385px;
        background: rgba(0, 0, 0, .3);
        .edition {
            width: 745px;
            height: 100%;
            margin: 0 auto;
            .first {
                display: inline-block;
                width: 130px;
                height: 25px;
                margin-top: 20px;
                margin-left: 90px;
                margin-right: 10px;
                text-decoration: none;
                color: white;
                position: relative;
                img {
                    margin-left: 15px;
                }
                span {
                    position: absolute;
                    top: 3px;
                    margin-left: 15px;
                }
            }
            .second {
                display: inline-block;
                width: 250px;
                height: 25px;
                border-left: 1px solid gray;
                border-right: 1px solid gray;
                margin-left: 20px;
                color: white;
                text-decoration: none;
                position: relative;
                img {
                    padding-left: 50px;
                }
                span {
                    position: absolute;
                    top: 3px;
                    margin-left: 15px;
                }
            }
            .three {
                display: inline-block;
                position: relative;
                width: 170px;
                height: 25px;
                margin-left: 50px;
                color: white;
                span {
                    position: absolute;
                    top: 3px;
                    margin-left: 15px;
                }
            }
        }
    }
}

#title {
    width: 1000px;
    min-height: 550px;
    margin: 0 auto;
    .firsttitle {
        display: inline-block;
        margin-top: 30px;
        width: 640px;
        height: 60px;
        background: url('../images/hot1.jpg') no-repeat 0 15px;
        a {
            text-decoration: none;
            color: #999;
            float: right;
            margin-top: 20px;
            font-size: 14px;
        }
        a:hover {
            color: #009af3;
        }
    }
    .twotitle {
        width: 320px;
        height: 60px;
        float: right;
        margin-top: 30px;
        background: url('../images/hot.jpg')no-repeat 0 15px;
        a {
            text-decoration: none;
            color: #999;
            float: right;
            margin-top: 20px;
            font-size: 14px;
        }
        a:hover {
            color: #009af3;
        }
    }
}

#pic {
    width: 1000px;
    height: 340px;
    margin-top: 10px;
}

.left-pic {
    width: 650px;
    height: 330px;
    float: left;
    .big {
        width: 325px;
        height: 325px;
        display: inline-block;
        position: relative;
        .shadow {
            width: 325px;
            height: 50px;
            background: rgba(0, 0, 0, .4);
            position: absolute;
            top: 275px;
            left: 0;
            .ms {
                color: white;
                font-size: 14px;
                margin-left: 10px;
                margin-top: 5px;
            }
            .singer {
                color: #cfcfcf;
                font-size: 14px;
                margin-left: 10px;
            }
        }
        .bigshadow {
            display: inline-block;
            width: 325px;
            height: 325px;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, .3);
            display: none;
            text-decoration: none;
            .border {
                position: absolute;
                left: 280px;
                top: 283px;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                text-align: center;
                line-height: 36px;
                border: 2px solid gray;
                i {
                    margin-left: 5px;
                    font-size: 25px;
                    color: white;
                }
            }
            .border:hover {
                border: 2px solid white;
                background: rgba(0, 0, 0, .5);
            }
        }
        .flux {
            width: 160px;
            height: 30px;
            color: white;
            position: absolute;
            padding-right: 10px;
            left: 155px;
            text-align: right;
            line-height: 30px;
            font-size: 13px;
            display: inline-block;
            background: url('../images/Bg.png');
            span {
                position: absolute;
                left: 100px;
                font-size: 15px;
            }
        }
    }
    .four {
        width: 324px;
        height: 325px;
        float: right;
        display: inline-block;
        display: flex;
        flex-wrap: wrap;
        .spicone {
            width: 160px;
            height: 160px;
            margin-left: 1px;
            position: relative;
            .shadow {
                position: absolute;
                top: 0;
                left: 0;
                text-decoration: none;
                color: white;
                display: inline-block;
                width: 160px;
                height: 160px;
                background: rgba(0, 0, 0, .4);
                z-index: 2;
                display: none;
                .border {
                    position: absolute;
                    left: 120px;
                    top: 117px;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 35px;
                    border: 2px solid gray;
                    i {
                        margin-left: 4px;
                        font-size: 25px;
                        color: white;
                    }
                }
                .border:hover {
                    border: 2px solid white;
                    background: rgba(0, 0, 0, .5);
                }
            }
            .fourflux {
                width: 130px;
                height: 30px;
                color: white;
                position: absolute;
                padding-right: 10px;
                left: 20px;
                text-align: right;
                line-height: 30px;
                font-size: 13px;
                display: inline-block;
                background: url('../images/Bg.png');
                span {
                    position: absolute;
                    left: 65px;
                    font-size: 15px;
                }
            }
            .bt-shadow {
                width: 100%;
                height: 50px;
                position: absolute;
                top: 109px;
                left: 0;
                background: rgba(0, 0, 0, .5);
                z-index: 1;
                p {
                    margin-left: 10px;
                    margin-top: 5px;
                    font-size: 15px;
                    color: white;
                }
                .bt-title {
                    margin: 0;
                    margin-left: 10px;
                    font-size: 14px;
                    color: #cfcfcf;
                }
            }
        }
        .spictwo {
            width: 160px;
            height: 160px;
            margin-left: 3px;
            position: relative;
            .shadow {
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                width: 160px;
                height: 160px;
                background: rgba(0, 0, 0, .4);
                z-index: 2;
                display: none;
                .border {
                    position: absolute;
                    left: 120px;
                    top: 117px;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 35px;
                    border: 2px solid gray;
                    i {
                        margin-left: 4px;
                        font-size: 25px;
                        color: white;
                    }
                }
                .border:hover {
                    border: 2px solid white;
                    background: rgba(0, 0, 0, .5);
                }
            }
            .fourflux {
                width: 130px;
                height: 30px;
                color: white;
                position: absolute;
                padding-right: 10px;
                left: 20px;
                text-align: right;
                line-height: 30px;
                font-size: 13px;
                display: inline-block;
                background: url('../images/Bg.png');
                span {
                    position: absolute;
                    left: 65px;
                    font-size: 15px;
                }
            }
            .bt-shadow {
                width: 100%;
                height: 50px;
                position: absolute;
                top: 109px;
                left: 0;
                background: rgba(0, 0, 0, .5);
                z-index: 1;
                p {
                    margin-left: 10px;
                    margin-top: 5px;
                    font-size: 15px;
                    color: white;
                }
                .bt-title {
                    margin: 0;
                    margin-left: 10px;
                    font-size: 14px;
                    color: #cfcfcf;
                }
            }
        }
        .spicthree {
            width: 160px;
            height: 160px;
            margin-left: 1px;
            margin-top: 5px;
            position: relative;
            .shadow {
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                width: 160px;
                height: 160px;
                background: rgba(0, 0, 0, .4);
                z-index: 2;
                display: none;
                .border {
                    position: absolute;
                    left: 120px;
                    top: 117px;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 35px;
                    border: 2px solid gray;
                    i {
                        margin-left: 4px;
                        font-size: 25px;
                        color: white;
                    }
                }
                .border:hover {
                    border: 2px solid white;
                    background: rgba(0, 0, 0, .5);
                }
            }
            .fourflux {
                width: 130px;
                height: 30px;
                color: white;
                position: absolute;
                padding-right: 10px;
                left: 20px;
                text-align: right;
                line-height: 30px;
                font-size: 13px;
                display: inline-block;
                background: url('../images/Bg.png');
                span {
                    position: absolute;
                    left: 65px;
                    font-size: 15px;
                }
            }
            .bt-shadow {
                width: 100%;
                height: 50px;
                position: absolute;
                top: 109px;
                left: 0;
                background: rgba(0, 0, 0, .5);
                z-index: 1;
                p {
                    margin-left: 10px;
                    margin-top: 5px;
                    font-size: 15px;
                    color: white;
                }
                .bt-title {
                    margin: 0;
                    margin-left: 10px;
                    font-size: 14px;
                    color: #cfcfcf;
                }
            }
        }
        .spicfour {
            width: 160px;
            height: 160px;
            margin-left: 3px;
            margin-top: 5px;
            position: relative;
            .shadow {
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                width: 160px;
                height: 160px;
                background: rgba(0, 0, 0, .4);
                z-index: 2;
                display: none;
                .border {
                    position: absolute;
                    left: 120px;
                    top: 117px;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 35px;
                    border: 2px solid gray;
                    i {
                        margin-left: 4px;
                        font-size: 25px;
                        color: white;
                    }
                }
                .border:hover {
                    border: 2px solid white;
                    background: rgba(0, 0, 0, .5);
                }
            }
            .fourflux {
                width: 130px;
                height: 30px;
                color: white;
                position: absolute;
                padding-right: 10px;
                left: 20px;
                text-align: right;
                line-height: 30px;
                font-size: 13px;
                display: inline-block;
                background: url('../images/Bg.png');
                span {
                    position: absolute;
                    left: 65px;
                    font-size: 15px;
                }
            }
            .bt-shadow {
                width: 100%;
                height: 50px;
                position: absolute;
                top: 109px;
                left: 0;
                background: rgba(0, 0, 0, .5);
                z-index: 1;
                p {
                    margin-left: 10px;
                    margin-top: 5px;
                    font-size: 15px;
                    color: white;
                }
                .bt-title {
                    margin: 0;
                    margin-left: 10px;
                    font-size: 14px;
                    color: #cfcfcf;
                }
            }
        }
    }
}

.right-pic {
    width: 320px;
    height: 325px;

    float: right;
    .top {
        width: 100%;
        height: 98px;
        margin-bottom: 15px;
        position: relative;
        .img {
            position: relative;
            width: 98px;
            height: 98px; // float: left;
            display: inline-block;
            .imgshadow {
                width: 100%;
                height: 100%;
                position: absolute;
                background: rgba(0, 0, 0, .4);
                display: none;
                .border {
                    position: absolute;
                    left: 30px;
                    top: 30px;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background: rgba(0, 0, 0, .3);
                    text-align: center;
                    line-height: 35px;
                    border: 2px solid gray;
                    i {
                        margin-left: 4px;
                        font-size: 25px;
                        color: white;
                    }
                }
                .border:hover {
                    background: rgba(0, 0, 0, .5);
                    border: 2px solid white;
                }
            }
        }
        .list {
            float: right;
            display: inline-block;
            width: 220px;
            height: 98px;
            display: inline-block;
            background: #F6F6F6;
            text-decoration: none;
            h3 {
                font-size: 14px;
                margin-left: 10px;
                margin-top: 15px;
                color: black;
            }
            div {
                width: 180px;
                height: 24px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #555;
                font-size: 14px;
                margin-top: 3px;
                margin-left: 10px;
            }
        }
        span {
            position: absolute;
            top: 45px;
            left: 300px;
            color: gray;
        }
    }


    .middle {
        width: 100%;
        height: 98px;
        margin-bottom: 15px;
        position: relative;
        .img {
            position: relative;
            width: 98px;
            height: 98px; // float: left;
            display: inline-block;
            .imgshadow {
                width: 100%;
                height: 100%;
                position: absolute;
                background: rgba(0, 0, 0, .4);
                display: none;
                .border {
                    position: absolute;
                    left: 30px;
                    top: 30px;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background: rgba(0, 0, 0, .3);
                    text-align: center;
                    line-height: 35px;
                    border: 2px solid gray;
                    i {
                        margin-left: 4px;
                        font-size: 25px;
                        color: white;
                    }
                }
                .border:hover {
                    background: rgba(0, 0, 0, .5);
                    border: 2px solid white;
                }
            }
        }
        .list {
            float: right;
            display: inline-block;
            width: 220px;
            height: 98px;
            display: inline-block;
            background: #F6F6F6;
            text-decoration: none;
            h3 {
                font-size: 14px;
                margin-left: 10px;
                margin-top: 15px;
                color: black;
            }
            div {
                width: 180px;
                height: 24px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #555;
                font-size: 14px;
                margin-top: 3px;
                margin-left: 10px;
            }
        }
        span {
            position: absolute;
            top: 45px;
            left: 300px;
            color: gray;
        }
    }


    .bottom {
        width: 100%;
        height: 98px;
        margin-bottom: 13px;
        position: relative;
        .img {
            position: relative;
            width: 98px;
            height: 98px; // float: left;
            display: inline-block;
            .imgshadow {
                width: 100%;
                height: 100%;
                position: absolute;
                background: rgba(0, 0, 0, .4);
                display: none;
                .border {
                    position: absolute;
                    left: 30px;
                    top: 30px;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background: rgba(0, 0, 0, .3);
                    text-align: center;
                    line-height: 35px;
                    border: 2px solid gray;
                    i {
                        margin-left: 4px;
                        font-size: 25px;
                        color: white;
                    }
                }
                .border:hover {
                    background: rgba(0, 0, 0, .5);
                    border: 2px solid white;
                }
            }
        }
        .list {
            float: right;
            display: inline-block;
            width: 220px;
            height: 98px;
            display: inline-block;
            background: #F6F6F6;
            text-decoration: none;
            h3 {
                font-size: 14px;
                margin-left: 10px;
                margin-top: 15px;
                color: black;
            }
            div {
                width: 180px;
                height: 24px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #555;
                font-size: 14px;
                margin-top: 3px;
                margin-left: 10px;
            }
        }
        span {
            position: absolute;
            top: 45px;
            left: 300px;
            color: gray;
        }
    }
}

.advertising {
    display: inline-block;
    width: 1000px;
    height: 80px;
}

#menu {
    width: 1000px;
    min-height: 500px;
    margin: 0 auto;
    border: 1px solid red;
    .new {
        width: 650px;
        height: 50px;
        position: relative;
        background: url('../images/new.jpg')no-repeat 0 15px;
        .playall {
            position: absolute; // display: inline-block;
            left: 555px;
            top: 10px;
            width: 91px;
            height: 31px;
            border: 1px solid #dbdbdb;
            outline: none;
            text-decoration: none;
            font-size: 12px;
            line-height: 30px;
            text-align: center;
            background: white;
            color: #555;
            span {
                color: gray;
            }
        }
        .playall:hover {
            color: #009af3;
            border: 1px solid #009af3;
            span {
                color: #009af3;
            }
        }
        ul {
            width: 192px;
            height: 23px;
            position: absolute;
            left: 145px;
            top: 19px;
            li {
                float: left;
                margin-right: 20px;
                font-size: 14px;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
            .active {
                color: #009af3;
            }
        }

        .content {
            width: 100%;
            height: 320px; // border: 1px solid red;
            position: absolute;
            top: 60px;
            .hide {
                display: none;
            }
            .sex {
                width: 100%;
                height: 100%;
                border-top: 1px solid #f0f0f0;
                .firstmusic {
                    width: 650px;
                    height: 35px;
                    display: inline-block;
                    text-decoration: none;
                    margin-top: 15px;
                    .topmusic {
                        width: 100%;
                        height: 35px;
                        line-height: 34px;
                        position: relative;
                        span {
                            color: #333;
                            font-size: 13px;
                            margin-left: 10px;
                        }
                        .unique {
                            position: absolute;
                            top: 13px;
                            display: inline-block;
                            width: 21px;
                            height: 12px;
                            background: url('../images/first.png');
                        }
                        .icon-xiazai {
                            position: absolute;
                            left: 570px;
                            top: 0;
                            color: gray;
                            font-size: 15px;
                            display: none;
                        }
                        .time {
                            position: absolute;
                            left: 595px;
                        }
                        .icon-bofang {
                            position: absolute;
                            top: 0;
                            left: 545px;
                            font-size: 15px;
                            color: gray;
                            display: none;
                        }
                    }
                    .topmusic:hover {
                        background: #f5f8fb;
                        .musicsingger,
                        .time {
                            color: #009af3;
                        }
                        .unique {
                            display: none;
                        }
                        .icon-xiazai {
                            color: gray;
                            display: block;
                        }
                        .icon-bofang {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}